h1{
    text-align: center;
text-decoration: underline;
line-height: 2; 
 letter-spacing: 3px;
 font-family: Impact;
}
h3{
    text-align: justify;
    text-decoration: wavy red overline;
    
}
p{
     text-align: justify;
     font-weight: 500;
     line-height: 1.5;
   
}
h2{
    font-weight: 400;
    text-decoration: double red line-through;
}
a{
    text-decoration: none;
}